GITHUB_TOKEN=github-token
GITHUB_USER=your-github-username-
GITHUB_REPO=name-of-the-github-repo-to-use
GITHUB_ADDITIONAL_REPO=if-you-need-morename-of-the-github-repo-to-use
PASSWORD=a-password-to-your-app
EMAIL=a-username-to-your-app
TOKEN_SECRET=a-secret-token-your-token
