._1fFs9XYx_GrH6-LhgwMs1B {
  box-sizing: border-box;
  border: none;
  background: #F2F2F2;
  border-radius: 5px;
  margin: 0px 0px;
  padding: 10px;
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  min-height: 300px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  border-bottom: 1px solid #DDD;
  color: #363636;
}
._1fFs9XYx_GrH6-LhgwMs1B:focus {
  outline: none;
}

._1VsQHncM6Nbn4uyw4TptHY {
}
._1VsQHncM6Nbn4uyw4TptHY input {
  border: none;
  border-bottom: 1px solid var(--first-weak);
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 40px;
  font-size: 1rem;
  border-radius: 0;
}
._1VsQHncM6Nbn4uyw4TptHY._1MgdPN4J4RWxf1v7R4qPyP input {
  width: calc(100% - 10px);
  margin: 0 5px;
  height: 50px;
  font-weight: bold;
  color: var(--first);
  font-size: 1.2rem;
  text-align: center;
}
._1VsQHncM6Nbn4uyw4TptHY input:focus {
  outline: none;
}

._2cepcYEHqRXMffFFF7HL6h {
  color: white;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  background: #95A1FE;
  border-radius: 5px;
}

body {
  background: var(--white);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
input, textarea {
  background: var(--white);
  font-family: 'Source Sans Pro', sans-serif;
}
:root {
  --first: #FF5252;
  --first-weak: rgba(255, 82, 82, 0.5);
  --white: #f2f2f2;
}

